.last-edition{
    background-image: url(./bg-last-edition.png);
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    width: 1280px;
    padding: 150px;
}
.last-edition-wrapper{
    display: flex;
    flex-direction: row;
}
.last-edition-video{
    border-right: 12px solid #ff3d03;
    border-bottom: 12px solid #ff3d03;
    iframe{
        margin-left: -15px;
        margin-bottom: -4px;
        margin-top: -9px;
    }
}
.last-edition-title{
    width: 30%;
    align-self: self-end;
    h3{
        font-size: 54px;
        text-transform: uppercase;
    }
}

.element-last-edition{
    position: absolute;
    transform: translateX(-200px) translateY(-150px);
    img{
        width: 600px;
    }
}