.header-wrapper {
	display: flex;
	flex-direction: column;
}

.header-info {
	width: 520px;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-left: 60px;
	margin-top: 80px;
}
.header-image {
	width: 420px;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-right: 60px;
}

.image-header{
	position: absolute;
    top: 32px;
    width: 1300px;
}

.header{
	background-image: url(./bg-header-conecta.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 1580px;
	display: flex;
	align-items: center;
	color: white;
}
.text-orange{
	color: #FF3D03;
}

.header-text-top{
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 200;
	justify-content: flex-start;
	font-weight: 300;
	letter-spacing: 2px;
	max-width: 185px;
}

.logo-conecta{
	width: 375px;
	margin-top: 30px;
}

.header-event-info{
	display: flex;
	margin: 40px 0px 30px 0px;
}

.event-location{
	width: 50%;
	display: block;
	border-left: 1px solid #FF3D03;
	align-self: center;
}

.event-date{
	width: 50%;
	display: flex;
	align-items: center;
}

.title-event-date{
	font-size: 104px;
	align-self: center;
	p{
		margin: 0;
	}
}

.text-header-event{
	font-size: 43px;
	margin: 0;
}

.description-header-event{
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 16px;
	max-width: 50px;
	margin: 0;
}

.title-event-location{
	text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
	font-size: 23px;
	max-width: 140px;
	margin: 0px 10px 0px 20px;
}

.city-event-location{
	text-transform: uppercase;
	font-size: 12px;
	margin: 0px 10px 5px 20px;
}

.hour-event-location{
	text-transform: uppercase;
	font-size: 16px;
	margin: 0px 10px 0px 20px;
	border-top: 2px solid #FF3D03;
}

.header-submit-button{
	margin: 70px 0px 5px 0px;
	align-self: center;
	p{
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 0.8px;
		font-weight: 500;
		margin: 10px 0px 0px 26px;
		;
	}
}

.nstech-event{
	display: flex;
    position: absolute;
    transform: translateX(300px) translateY(300px);
    align-items: center;
	gap: 20px;
	p{
		text-transform: uppercase;
		max-width: 200px;
		margin: 0;
		margin-top: 10px;
	}
	img{
		max-width: 200px;
	}
}